/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
  overflow: hidden;
}
/* build your layout */
.reset-row {
  height: 10%;
  width: 100%;
  display: flex;
}
.top-row {
  height: 45%;
  width: 100%;
  display: flex;
}
.bottom-row {
  height: 45%;
  width: 100%;
  display: flex;
}
.character {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
}
.split {
  height: 100%;
  width: 50%;
}
.shadow {
  filter: drop-shadow(2px 2px 2px);
}
.text {
  font-size: 25px;
  font-family: impact;
}
.bottom-row .character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-row .split img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* this will make ALL <img> elements at most 100% of their PARENT! */
img {
  max-height: 100%;
  max-width: 100%;
}
.tanjiro1 {
  object-fit: cover;
}
.hover1 {
  filter: brightness(85%) drop-shadow(2px 8px 3px);
}
.hover1:hover {
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
/* this class goes on the PARENT div of the image! */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.translucent {
  opacity: 0.5;
}

/* colors to see divs */
.purple {
  background-color: #523d64;
}
.green {
  background-color: #85e21f;
}
.orange {
  background-color: #da6339;
}
.gold {
  background-color: #d3a047;
}
.yellow {
  background-color: #ffeca7;
}
.black {
  background-color: #000000;
}
.slate {
  background-color: #1e171f;
}
.dark-grey {
  background-color: #3a3b3c;
}
.light-grey {
  background-color: #d3d3d3;
}
.white {
  background-color: white;
}
.orange {
  background-color: orange;
}

/* enhance the UX */
/*
img:hover {
  cursor: pointer;
}
img:active {
  transform: scale(0.95);
}
*/
@media only screen and (max-width: 600px) {
  .top-row {
    height: 45%;
    width: 100%;
    display: block;
  }
  .split {
    height: 50%;
    width: 100%;
  }
  .bottom-row {
    height: 45%;
    width: 100%;
    display: block;
  }
  .character {
    height: 33.3333333%;
    width: 100%;
  }
  .text {
    font-size: 20px;
    font-family: impact;
  }
}
